main {
    display: flex;
    justify-content: center;
}
 .publicationsDivision::-webkit-scrollbar {
    display: none;
}
.publicationsDivision {
    width: 35%;
    height: 100%;    
    overflow-y:scroll;
    scroll-snap-type: y mandatory;
}

.publicationDiv {
    scroll-snap-align:start;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
}
.imgDiv {
    width: 100%;
    min-height: 70%;
    overflow:hidden;
}
.publicationDiv img{
    width: auto;
    min-width: 100%;
    height: 100%;
}
.captionDiv {
    background-color: #f1f1f1;
    display: flex;
    height: 100%;
    flex-grow:1;
    width: 100%;
    overflow:auto;
    padding: 10px;
}
.captionContent {
    height: 100%;
    padding-left: 10px;
    overflow:auto;
}
.captionDiv img {
    height: 5vh;
    width: auto;
    border-radius: 50%;
}
.publicationDiv a,.publicationDiv a:visited  {
    color: black;
}