
main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.mainProfile {
    padding-top: 25px;
    width: 100%;
    height: 300px;
}
#profilePic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 70px;
    margin-bottom:50px;
}
.rightSideProfile {
    flex-grow:1;
}
.layer2{
    width: 20%;
    display:flex;
    justify-content: space-between;
}
.layer1 {
    display: grid;
    width: 75%;
    align-items: center;
    grid-template-columns: 15% 20% 75%;
    grid-template-rows: 100%;
}
.layer1 h2 {
    font-weight:lighter;
}
#editProfileBtn {
    background-color: whitesmoke;
    height: 30px;
    border-radius: 5px;
    border:1px solid rgb(182, 182, 182);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.postButton {
    border: none;
    outline: none;
}

.publicationDiv img {
    width: 100%;
    height: 100%;
}
.publicationsDiv {
    margin-top: 30px;
    padding-bottom: 30px;
    display:grid;
    row-gap: 50px;
    column-gap: 5%;
    grid-template-columns: 30% 30% 30%;
}
#logoutBtn img{
    width: 50px;
    height: 50px;
    float: right;
}