.publicationSection {
    display: flex;
    width: 80vw;
    height: 80vh;
    position:fixed;
    top: 10vh;
    left: 10vw;
    border: 1px rgb(230, 230, 230) solid;
    box-shadow: 0 0 5px #888888;
    overflow:hidden;
    background-color: white;
}
.imgSide {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    box-shadow: 2px 0 5px grey;
    z-index:1;
}
.imgSide img {
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 80%;
    object-fit: cover;
}

img.likeImg.notLiked {
    filter: grayscale(100%);
}


.captionDiv {
    background-color: #f1f1f1;
    display: flex;
    flex-grow:1;
    width: 100%;
    overflow:auto;
    padding: 10px;

}
.editCaptionInput {
    width: 100%;
    height: 75%;
    resize: none;
}
.captionContent {
    height: 100%;
    padding-left: 10px;
    overflow:auto;
}
.captionDiv img {
    height: 25%;
    width: auto;
    border-radius: 50%;
}
.commentSide {
    padding-top: 5vh;
    display: block;
    position: relative;
    width: 100%;
    padding-left: -10px;
}

.commentsDiv {
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    height:90%;
}
.comment {
    position: relative;
    float:left;
    width: 100%;
    height: 10vh;
    border-bottom: 1px lightgrey solid;
    padding:5px;
}
.commentProfile {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius:50%;
}
.commentUsername {
    position: absolute;
    left: 15%;
    top: 0;
    font-size: 0.8em;
    text-decoration: underline;
}
.commentText, .editCommentInput {
    width: auto;
    position: absolute;
    left: 15%;
    top: 30%;
    font-size: 0.8em;
    text-overflow:ellipsis;
}
.editCommentInput {
    width: 70%;
}
.writeComment {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-bottom:5px;
    padding-top:5px;
}
.writeComment form {
    width: 92%;
}
#writeComment {
    width: 100%;
    height: 100%;
    border: 1px grey solid;
    border-radius: 5vh;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#writeComment:focus {
    outline:none;
}
.sendCommentBtn {
    width: 8%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 2%;
    border: none;
    background: none;
}
.sendCommentBtn img{
    width: 70%;
    height: 70%;
    margin: auto;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.4));

}
.commentActions {
    width: 7%;
    padding: 5px;
    float: right;
    position:absolute;
    top: 20%;
    right: 5%;
    display: flex;
    justify-content: space-between;
}
.commentActions img {
    height: 20px;
    aspect-ratio: 1/1;
}
.date_time {
    position:absolute;
    top: 60%;
    right: 5%;
}
.likeBtn {
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor:pointer;
}
.likeBtn img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 5px rgb(150, 124, 124));
}
a, a:hover { 
    color: inherit; 
    text-decoration: inherit;
}
.buttons {
    width: 10vw;
    height: 4vh;
    position: absolute;
    top: 1vh;
    right: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.postAction {
    height: 100%;
    width: auto;
    margin: 0.5vw;
}
#commentInput, #commentInput:focus {
    outline: none;
    border:none;
}
#commentInput {
    width: 100%;
    height: 100%;
}