main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.publicationDiv {
    display: flex;
    width: 75%;
    max-height: 80vh;
    border: 1px rgb(230, 230, 230) solid;
    box-shadow: 0 0 5px #888888;
    overflow:hidden;
}
.imgSide {
    width: 50%;
    height: 100%;
}
.imgSide img {
    width: 100%;
    height: max-content;
}
.commentSide {
    display: block;
    position: relative;
    width: 50%;
    padding-left: -10px;
}
.captionDiv {
    height:20%;
    overflow:auto;
}
.commentsDiv {
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    height:72%;
}
.comment {
    position: relative;
    float:left;
    width: 100%;
    height: 10vh;
    border-bottom: 1px lightgrey solid;
    padding:5px;
}
.commentProfile {
    height: 100%;
    width: auto;
    border-radius:50%;
    display: block;
    float:left;
    margin-right: 10px;
}
.commentUsername {
    position: absolute;
    left: 15%;
    top: 0;
    font-size: 0.8em;
    text-decoration: underline;
}
.commentText {
    width: auto;
    position: absolute;
    left: 15%;
    top: 30%;
    font-size: 0.8em;
    text-overflow:ellipsis;
}
.writeComment {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-bottom:5px;
    padding-top:5px;
}
.writeComment form {
    width: 85%;
}
#writeComment {
    width: 100%;
    height: 100%;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 10px;
}
#writeComment:focus {
    outline:none;
}
.sendCommentBtn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    top: 25%;
    border: none;
    background: none;
}
.sendCommentBtn img{
    width: 100%;
    height: 100%;
}
.removeCommentBtn {
    position:absolute;
    top: 20%;
    right: 5%;
}

.removeCommentBtn img{
    height: 15px;
}
.date_time {
    position:absolute;
    top: 60%;
    right: 5%;
}
.likeBtn {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}
.likeBtn img {
    width: 100%;
    height: auto;
}